
body {
  font-family: 'Varela Round', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 2rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 10px 10px 14px 0px rgba(156,151,156,1);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  max-height: 800px;
  overflow-y: auto;
}

/* The Close Button */
.modal_close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#toggle_background_map_text{
  display:inline;
}

.top-container {
  margin-bottom: 2rem;
}

.middle-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-style: solid;
  overflow-x: scroll;
  text-align: left;
}